// padding-bottom Trick für Bilder
.macro-bild {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    
    // Layzload Bilder erst nach dem Laden einblenden
    .lazyload,
    .lazyloading {
        opacity: 0;
    }

    .lazyloaded {
        transition: filter 500ms ease-in;
        opacity: 1;
    }
    
    &__img,
    &__picture {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
