{% import "_macros-funktionen/bild/_bild.twig" as macroBild %}
{% extends "_layout.twig" %}


{% block seitentitel %}
	Startseite
{% endblock %}
{% block metaDescription %}
	{# <meta name="description" content="{{ entry.einstellungenMetaDescription }}"> #}
{% endblock %}

{% block content %}
    {# {% set bild = entry.bild.one() %}
    <style nonce="{{ cspNonce('style-src') }}"> 
        .test__bild {
            height: 100vh;
        }
    </style>
    <div class="test__bild">
        {{ macroBild.bild(bild, 'test__bild', bild.alt, '1:1', 'blur', 'cover') }}
    </div> #}

{% endblock %}
