{% import "macros/bild/_bild.twig" as macroBild %}
{% extends "_layout.twig" %}

{% block content %}

{# {% for bild in entry.projektbilder.all() %}
    <div class="projekt__bild">
        {{ macroBild.bild(bild, 'bild', 'Text der bildbeschreibung', '4:3') }}
    </div>
{% endfor %} #}

{% endblock %}