{% import "_macros-functions/image/_image.twig" as macroImage %}
{% import "_macros-functions/video/_video.twig" as macroVideo %}
{% extends "_layout.twig" %}


{% block seitentitel %}
	Startseite
{% endblock %}
{% block metaDescription %}
	{# <meta name="description" content="{{ entry.seoMetaDescription }}"> #}
{% endblock %}

{% block content %}
    {{ 'Reach us on me@example.com or <a href="mailto:anotherme@example.com">here</a>.'|enkode_emails }}
    {{ entry.ckeditor|enkode_emails }}
{% endblock %}
