.menue {
    font-family: Filson Pro, sans-serif;
    font-weight: 400;

    &__logo {
        color: black;
        font-family: Clarendon;
    }

    &__links {
        align-items: flex-start;
        color: black;
    }

    &__link {
        cursor: pointer;
        

        &[data-menue-aktiv="true"] {
            color: map-get($farben, rot);
        }

        &:hover {
            color: map-get($farben, rot);
        }
    }
}


@include mediaquery(smartphone) {

    $layout: smartphone;

    .menue {
        @include abstand($layout, padding, alle, 0, 26, 0, 26);
        background-color: map-get($farben, hellbraun);
        display: none;
        height: calc(var(--vh, 1vh) * 100);
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

        .body[data-menue-aktiv="true"] & {
            display: flex;
            flex-direction: column;
        }

        &__hamburger {
            $hamburger-breite: 36px;
            $hamburger-hoehe: 29px;
            $hamburger-strichstaerke: 5px;
            $hamburger-farbe: black;
            $hamburger-farbe-aktiv: black;
            @include hamburger($hamburger-breite, $hamburger-hoehe, $hamburger-strichstaerke, $hamburger-farbe, $hamburger-farbe-aktiv);
            @include abstand($layout, padding, alle, 10, 10, 10, 10);
            background-color: transparent;
            position: fixed;
            right: groesse($layout, 26 - 10);
            top: groesse($layout, 26 - 10);
            z-index: 1001;
        }

        &__links {
            @include abstand($layout, margin, top, 191);
            @include schriftart($layout, 46, 52);
            display: flex;
            flex-direction: column;
        }

        &__link {
            text-decoration: none;
        }
    }

    .hamburger {

        &-box {
            height: 35px;
            right: 0;
            width: 37px;
        }
    }
}


@include mediaquery(desktop) {

    $layout: desktop;

    .menue {
        height: 100%;
        width: 100%;

        &__logo-text {
            @include schriftart($layout, 28, 32, 400);
            position: absolute;
            top: groesse($layout, 68);
            right: groesse($layout, 576);
            z-index: 1;
            
            .body--startseite & {
                position: fixed;
            }
        }
        
        &__logo {
            @include schriftart($layout, 70, 59, 400);
            text-decoration: none;
            position: absolute;
            top: groesse($layout, 50);
            right: groesse($layout, 92);
            z-index: 1;
            
            .body--startseite & {
                position: fixed;
            }
        }
        
        &__links {
            left: groesse($layout, 55);
            position: fixed;
            top: groesse($layout, 50);
            z-index: 1;
        }

        &__link {
            @include schriftart($layout, 34, 36);
            display: inherit;
            text-decoration: none;

            &--aktiv {
                font-weight: 500;
            }
        }

        &__hamburger {
            display: none;
        }
    }
}