{% import "macros/bild/_bild.twig" as bild %}

<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
	<head>
		<meta charset="utf-8"/>
		<title>{{ siteName }}</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta name="description" content="">
		<script src="/js/main.js" defer></script>

		<!-- https://web.dev/defer-non-critical-css/ -->
        <link rel="preload" href="/css/style.css" as="style">
        <link rel="stylesheet" href="/css/style.css" media="print" onload="this.media='all'">
		<noscript><link rel="stylesheet" href="/css/style.css"/></noscript>

		<!-- FOUC -->
		<!-- https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ -->
		<style>
			.no-js {
				visibility: visible;
			}
		</style>
	</head>
	<body
		class="body no-js preload" style="visibility: hidden" data-menue-aktiv="false" data-menue-bewegt="false" data-dev="true" data-scrolled="false">

		<!-- Firefox Hack gegen FOUC: https://www.primative.net/blog/how-to-get-rid-of-the-flash-of-unstyled-content/ -->
		<script>0</script>

		<!-- FOUC -->
		<script>
			document.querySelector('body').classList.remove('no-js');
		</script>

		<main class="main">
        
            {% block content %}{% endblock %}
			
		</main>

		 {# {% include 'bausteine/_footer.twig' %} #}
        
		<script>
			<!-- FOUC -->
			let domReady = (cb) => {
                document.readyState === 'interactive' || document.readyState === 'complete'
                    ? cb()
                    : document.addEventListener('DOMContentLoaded', cb);
                };
                            
                domReady(() => {
                    document.body.style.visibility = 'visible';
                });

			<!-- Preload beenden -->
			setTimeout(function(){
                document.body.classList.remove('preload');
            }, 500);
		</script>
	</body>
</html>
