@use "../../scss/config";
@use "../../scss/functions/mediaqueries";
@use "../../scss/functions/layout";
@use "../../scss/functions/hamburger";
@use "sass:map";

.menu {
    font-family: Filson Pro, sans-serif;
    font-weight: 400;

    &__logo {
        color: black;
        font-family: Clarendon;
    }

    &__links {
        align-items: flex-start;
        color: black;
    }

    &__link {
        cursor: pointer;
        

        &[data-menu-active="true"] {
            color: map.get(config.$colors, rot);
        }

        &:hover {
            color: map.get(config.$colors, rot);
        }
    }
}


@include mediaqueries.mediaquery(smartphone) {

    $layout: smartphone;

    .menu {
        @include layout.marginPadding($layout, padding, alle, 0, 26, 0, 26);
        background-color: map.get(config.$colors, hellbraun);
        display: none;
        height: calc(var(--vh, 1vh) * 100);
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;

        .body[data-menu-active="true"] & {
            display: flex;
            flex-direction: column;
        }

        &__hamburger {
            $hamburger-width: 36px;
            $hamburger-height: 29px;
            $hamburger-stroke-weight: 5px;
            $hamburger-color: black;
            $hamburger-color-active: black;
            @include hamburger.hamburger($hamburger-width, $hamburger-height, $hamburger-stroke-weight, $hamburger-color, $hamburger-color-active);
            @include layout.marginPadding($layout, padding, alle, 10, 10, 10, 10);
            background-color: transparent;
            position: fixed;
            right: size($layout, 26 - 10);
            top: size($layout, 26 - 10);
            z-index: 1001;
        }

        &__links {
            @include layout.marginPadding($layout, margin, top, 191);
            @include layout.fontFamily($layout, 46, 52);
            display: flex;
            flex-direction: column;
        }

        &__link {
            text-decoration: none;
        }
    }

    .hamburger {

        &-box {
            height: 35px;
            right: 0;
            width: 37px;
        }
    }
}


@include mediaqueries.mediaquery(desktop) {

    $layout: desktop;

    .menu {
        height: 100%;
        width: 100%;

        &__logo-text {
            @include layout.fontFamily($layout, 28, 32, 400);
            position: absolute;
            top: size($layout, 68);
            right: size($layout, 576);
            z-index: 1;
            
            .body--startseite & {
                position: fixed;
            }
        }
        
        &__logo {
            @include layout.fontFamily($layout, 70, 59, 400);
            text-decoration: none;
            position: absolute;
            top: size($layout, 50);
            right: size($layout, 92);
            z-index: 1;
            
            .body--startseite & {
                position: fixed;
            }
        }
        
        &__links {
            left: size($layout, 55);
            position: fixed;
            top: size($layout, 50);
            z-index: 1;
        }

        &__link {
            @include layout.fontFamily($layout, 34, 36);
            display: inherit;
            text-decoration: none;

            &--active {
                font-weight: 500;
            }
        }

        &__hamburger {
            display: none;
        }
    }
}