@use "sass:color";
@use "sass:meta";
@use "sass:string";
// Farben URL encodieren
@function encode-color($string) {
	@if meta.type-of($string) == 'color' {
        $hex: string.slice(color.ie-hex-str($string), 4);
        $string:string.unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}