@mixin hamburger($hamburger-breite, $hamburger-hoehe, $hamburger-line-width, $hamburger-color, $hamburger-color-active) {

    // Settings
    // ==================================================
    $hamburger-padding-x           : 15px !default;
    $hamburger-padding-y           : 15px !default;
    $hamburger-line-gap            : calc(($hamburger-hoehe - 3 * $hamburger-line-width) / 2) !default;
    $hamburger-color               : #000 !default;
    $hamburger-layer-border-radius : 0 !default;
    $hamburger-hover-opacity       : 1 !default;
    $hamburger-active-layer-color  : $hamburger-color-active !default;
    $hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
    $hamburger-animation-timing: 0.195s;
    $hamburger-compression-speed: 0.12s;
    $hamburger-turn-speed: $hamburger-animation-timing - $hamburger-compression-speed;

    // To use CSS filters as the hover effect instead of opacity,
    // set $hamburger-hover-use-filter as true and
    // change the value of $hamburger-hover-filter accordingly.
    $hamburger-hover-use-filter   : false !default;
    $hamburger-hover-filter       : opacity(50%) !default;
    $hamburger-active-hover-filter: $hamburger-hover-filter !default;

    
    // padding: $hamburger-padding-y $hamburger-padding-x;


    &:hover {
        @if $hamburger-hover-use-filter==true {
            filter: $hamburger-hover-filter;
        }

        @else {
            opacity: $hamburger-hover-opacity;
        }
    }

    body[data-menue-active='true'] & {
        &:hover {
            @if $hamburger-hover-use-filter==true {
                filter: $hamburger-active-hover-filter;
            }

            @else {
                opacity: $hamburger-active-hover-opacity;
            }
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: $hamburger-active-layer-color;
            transition: 0s $hamburger-compression-speed linear;
        }
    }
    
    .hamburger-box {
        width: $hamburger-breite;
        height: calc($hamburger-line-width * 3 + $hamburger-line-gap * 2);
        display: inline-block;
        position: relative;
    }
    
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: calc($hamburger-line-width / -2);
    
        &,
        &::before,
        &::after {
            width: $hamburger-breite;
            height: $hamburger-line-width;
            background-color: $hamburger-color;
            border-radius: $hamburger-layer-border-radius;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }
    
        &::before,
        &::after {
            content: "";
            display: block;
        }
    
        &::before {
            top: calc(($hamburger-line-gap + $hamburger-line-width) * -1);
        }
    
        &::after {
            bottom: calc(($hamburger-line-gap + $hamburger-line-width) * -1);
        }
    }



    // Aus Basis
    display: block;
    cursor: pointer;

    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;

    // Normalize (<button>)
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    line-height: 0;
    
    .hamburger-inner {
        transition-duration: $hamburger-turn-speed;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        &::before {
            transition: top $hamburger-turn-speed $hamburger-compression-speed ease,
                opacity $hamburger-turn-speed ease;
        }

        &::after {
            transition: bottom $hamburger-turn-speed $hamburger-compression-speed ease,
                transform $hamburger-turn-speed cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }

    body[data-menue-active='true'] & {
        .hamburger-inner {
            transform: rotate(45deg);
            transition-delay: $hamburger-compression-speed;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

            &::before {
                top: 0;
                opacity: 0;
                transition: top $hamburger-turn-speed ease,
                    opacity $hamburger-turn-speed $hamburger-compression-speed ease;
            }

            &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom $hamburger-turn-speed ease,
                    transform $hamburger-turn-speed $hamburger-compression-speed cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}