// Raster
$farbe--dev-toolbar: rgba(0, 220, 30, 1.0);
$farbe--dev-raster: rgba(0, 0, 255, 0.5);
$farbe--dev-raster-mitte: rgba(0, 0, 0, 0.2);


@mixin dev-toolbar-raster($layout, $spalten, $spaltenabstand, $seitenrand-links, $seitenrand-rechts) {

    $spaltenabstand: groesse($layout, $spaltenabstand);
    $seitenrand-links: groesse($layout, $seitenrand-links);
    $seitenrand-rechts: groesse($layout, $seitenrand-rechts);

    body[data-dev='true'] {
        .dev-toolbar__raster::before {
            background: linear-gradient(90deg, $farbe--dev-raster-mitte 0.5px, transparent 0.5px) 0 0,
                        linear-gradient(90deg, $farbe--dev-raster 0.5px, transparent 0.5px) calc($spaltenabstand / 2) 0,
                        linear-gradient(90deg, $farbe--dev-raster 0.5px, transparent 0.5px) calc($spaltenabstand / 2 * -1) 0;
            background-size: calc((100% - ($spalten * $spaltenabstand)) * calc(1 / $spalten) + $spaltenabstand) 1px;
            margin: 0 ($seitenrand-rechts - calc($spaltenabstand / 2)) 0 ($seitenrand-links - calc($spaltenabstand / 2));
            width: calc(100% - $seitenrand-rechts + calc($spaltenabstand / 2) - $seitenrand-links + calc($spaltenabstand / 2));
        }
    }
}

.dev-toolbar {
    background-color: $farbe--dev-toolbar;
    display: none;
    font-size: 12px;
    left: 0;
    padding: 5px 10px;
    pointer-events: none;
    position: fixed;
    top: 0;
    z-index: 9999999;
    
    body[data-dev='true'] & {
        display: flex;   
    }
    
    &__raster {
        width: 100%;
        height: 100%;
        left: 0;
        pointer-events: none;
        position: fixed;
        top: 0;
        
        &::before {
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}

@each $layout, $breite in $layouts {
    @include mediaquery($layout) {
        @include dev-toolbar-raster($layout, map-get($spalten, $layout), map-get($spaltenabstaende, $layout), map-deep-get($seitenraender, $layout, 'left'), map-deep-get($seitenraender, $layout, 'right'));
    }
}