// padding-bottom Trick für Bilder
.bild-verhaeltnis {
    position: relative;
    display: block;
    height: 0;
    width: 100%;

    img,
    picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    // Layzload Bilder erst nach dem Laden einblenden
    .lazyload,
    .lazyloading {
        opacity: 0;
    }

    &.lazyloaded {
        opacity: 1;
        background-color: transparent;
        /*  transition is applied to lazyloaded not lazyload */
        transition: opacity 500ms ease-in;
        transition: background-color 500ms ease-in;
    }
}

// Alt Text unsichtbar machen, aber für Screenreader lesbar halten
// Bilder als Block statt als Inline anzeigen. Das löst das Problem von unerwünschten Pixeln unterhalb des Bildes.
img {
    color: transparent;
    display: block;
    line-height: 1em;
    text-indent: -9999px;
}