@use "./forward" as *;
@use "sass:map";

.main {
    position: relative;
}


@include mediaquery(smartphone) {

    $layout: smartphone;

    .main {
        @include marginPadding($layout, padding, alle, 90, 0, 0, 0);
    }
}

@include mediaquery(desktop) {
    
    $layout: desktop;

    .main {
        @include marginPadding($layout, padding, alle, 0, 0, 0, 0);
    }
}