@use "functions/layout";
@use "functions/mediaqueries";

.main {
    position: relative;
}


@include mediaqueries.mediaquery(smartphone) {

    $layout: smartphone;

    .main {
        @include layout.marginPadding($layout, padding, alle, 90, 0, 0, 0);
    }
}

@include mediaqueries.mediaquery(desktop) {
    
    $layout: desktop;

    .main {
        @include layout.marginPadding($layout, padding, alle, 0, 0, 0, 0);
    }
}